APP_NAME="Marzban VPN Admin & Auth Backend"
APP_ENV=production
APP_DEBUG=false

MARZBAN_URL=https://v2.nooend.me:8000
MARZBAN_USERNAME=152
MARZBAN_PASSWORD=1234

JWT_SECRET=super-secret-jwt-key-marzban-2026
